.login-form {
    display: flex;
    flex-flow: column;
    gap: 16px;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-flow: column;
    gap: 16px;
    justify-content: center;
}