.technology-form {
    display: flex;
    flex-flow: column;
}

.form-group {
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.form-group label, input, textarea, select {
    margin: 5px 0;
    border-radius: 5px;
}

.form-actions {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 10px;
    padding: 15px;
}

.form-validation-info {
    color: rgb(167, 6, 6);
    font-weight: bold;
    margin: 10px;
    padding: 15px;
    border: 2px dashed red;
}

.required::after {
    content: '*';
    font-weight: bold;
    color: red;
    margin: 5px;
}

.error {
    border: 2px solid red;
}

.error-message {
    display: block;
    color: rgb(167, 6, 6);
}