.progress-header {
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.progress-header progress {
    display: block;
    height: 30px;
    width: 100%;
    accent-color: #a0090b;
}