.quick-actions {
    margin: 5% 0;
    padding: 0;
}

.action-buttons {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    padding: 15px;
    margin: 10px 0;
}

.btn {
    height: 3em;
    margin: 10px;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.8;
    border: 3px solid rgba(0, 0, 0, 0.582);
}

.btn-success {
    background-color: rgb(34, 188, 34);
    color: white;
    border: 3px solid rgb(7, 108, 46);
}

.btn-primary {
    background-color: rgb(40, 83, 224);
    color: white;
    border: 3px solid rgb(39, 15, 157);
}

.btn-warning {
    background-color: rgb(239, 226, 75);
    border: 3px solid rgb(201, 127, 24);
}

.btn-info {
    background-color: rgba(69, 141, 217, 0.678);
    border: 3px solid rgb(46, 19, 185);
}