.quick-actions {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.quick-actions button{
    height: 3em;
    margin: 10px;
    border-radius: 5px;
    border: 3px solid rgb(129, 16, 243);
    background-color: rgb(10, 76, 133);
    color: aliceblue;
}

.quick-actions button:hover {
    opacity: 0.8;
}