/* базовые стили для приложения */
.app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* стили для заголовка приложения (если используется) */
.app-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.app-main {
    margin: 0 10%;
    padding: 10px;
    background-color: aliceblue;
}

.app-main h2 {
    margin: 0 0 20px 0;
    color: #333;
    padding: 10px;
    border-bottom: 2px solid rgba(26, 25, 25, 0.489);
}

.technologies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    gap: 10px;
}

.search-box {
    margin: 10px;
    padding: 10px;
}

.search-box input{
    margin: 5px;
}

.query-num {
    display: none;
}